# Fastapi
# https://fastapi.tiangolo.com/
fastapi

# Uvicorn
# url
uvicorn[standard]

# SqlModel
# https://sqlmodel.tiangolo.com/
sqlmodel

# Fastapi pagination
# https://uriyyo-fastapi-pagination.netlify.app/
fastapi-pagination
